ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f3e9ff;
  background-color: #585b70;
  border-radius: 5px;
}

.heroi-huegrada {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fcfcfc;
  background-image: url(fon.png);
  background-size: cover;
  border-radius: 5px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #cdd6f4;
  background-color: #1e1e2e;
  /*mellstroy pidors */
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #cdd6f4;
  text-align: center;
}

.card {
  width: 300px;
  /* Ширина карточки */
  border-radius: 20px;
  /* Закругляем углы */
  overflow: -moz-hidden-unscrollable;
  /* Прячем все, что выходит за углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Добавляем мягкую тень */
  font-family: sans-serif;
  /* Простой шрифт */
  max-width: 50%;
}

.card img {
  width: 80%;
  /* Картинка занимает всю ширину */
  height: auto;
}

.card-video {
  width: 500px;
  max-width: 100%;
  /* фиксированная высота */
  object-fit: cover;
  /* обрезает видео под размер, без искажений */
  display: block;
  padding-bottom: 1%;
}

.news-list {
  list-style: none;
  padding: 0;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid #585887;
  background: #1e1e2e;

}

.news-item {
  display: flex;
  align-items: baseline;
  gap: 12px;
  padding: 3px 20px;
  justify-content: left;
}

.news-item time {
  flex-shrink: 0;
  font-size: 0.85rem;
  color: #888;
  width: 90px;
}

.news-item a {
  color: #cdd6f4;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.4;
}

.news-item a:hover {
  text-decoration: underline;
}

.news {
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid #585887;
  background: #1e1e2e;
  padding: 2% 2%;
  box-sizing: border-box;
}

.news h3 {
  border: 2px solid #585887;
  margin-right: 3%;
  margin-left: auto;
  color: #cdd6f4;
}

.cards-container {
  display: flex;
  /* Включаем Flexbox */
  gap: 20px;
  /* Расстояние между карточками */
  flex-wrap: wrap;
  /* Карточки переносятся на новую строку, если не влезают */
  justify-content: center;
}

.card h2 {
  margin-top: 0;
}


.glide {
  max-width: 800px;
  margin: 30px auto;
  overflow: hidden;
}

.glide__slide {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.glide__slide img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

header {
  background-image: url(huegrad/images/huegrad.jpg);
  padding: 20px;
  text-align: center;
}

.top-menu {
  position: sticky;
  /* Закрепляет меню на экране */
  top: 0;
  /* Прижимает к верхнему краю */
  left: 0;
  /* Прижимает к левому краю */
  width: 100%;
  /* Растягивает меню на весь экран */
  background-color: transparent;
  /* Цвет фона */
  padding: 10px 0;
  /* Отступы сверху и снизу */
  z-index: 10;
}

.top-menu a {
  color: white;
  /* Цвет текста */
  text-decoration: none;
  /* Убирает подчеркивание */
  margin: 0 15px;
  /* Расстояние между ссылками */
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 5px 5px;
}

a:hover {
  color: #cdd6f4;
  background-color: #1e1e2e;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.soundcloud {
  text-align: center;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Lucida Sans Unicode, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.mellstroj {
  text-align: center;
}

.anthem {
  text-align: center;
}

.drochka {
  text-align: center;
}

.animated-gradient {
  /* Задаем линейный градиент с четырьмя цветами */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* Делаем фоновое изображение в 4 раза больше контейнера */
  background-size: 400% 400%;
  /* Применяем анимацию с длительностью 15 секунд, бесконечно и с плавным переходом */
  animation: gradientShift 15s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Описываем ключевые кадры движения */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 900px) {
  .cards-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .news-list {
    margin-top: 15%;
    border: 0px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .news {
    max-width: 900px;
    width: 90%;
    margin: 30px auto;
    padding: 2rem;
    border: 2px solid #585887;
    background: #1e1e2e;
    box-sizing: border-box;
  }

  .top-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    color: #4c536d;
  }

  header {
    background-image: url(huegrad/images/huegrad-phone-banner.png);
    padding: 10px;
    text-align: center;
  }

  .heroi-huegrada {
    color: #cdd6f4;
    background-color: #585b70;
    ;
  }
}