ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #cdd6f4;
  background-color: #585b70;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #cdd6f4;
  background-color: #1e1e2e;
  /*mellstroy pidors */
}
.card {
  width: 300px; /* Ширина карточки */
  border-radius: 10px; /* Закругляем углы */
  overflow:-moz-hidden-unscrollable; /* Прячем все, что выходит за углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем мягкую тень */
  font-family: sans-serif; /* Простой шрифт */
}

.card img {
  width: 100%; /* Картинка занимает всю ширину */
  height: auto;
}

.cards-container {
  display: flex; /* Включаем Flexbox */
  gap: 20px; /* Расстояние между карточками */
  flex-wrap: wrap; /* Карточки переносятся на новую строку, если не влезают */
  justify-content: flex-start; 
}

.card h2 {
  margin-top: 0;
}
